@model LordOfLittleComponents.Models.EnvironmentDataViewModel


<div id="dataFromSensors">
    <p>@Html.DisplayFor(model => model.Id)</p>
    <p>@Html.DisplayFor(model => model.Temperature)</p>
    <p>@Html.DisplayFor(model => model.Humidity)</p>
</div>

