@model LordOfLittleComponents.Models.EnvironmentDataViewModel

@{
    ViewData["Title"] = "Home Page";
}


<h2>Sensor</h2>
<hr />


<div class="environment_conditions_container">

    <div class="environment_conditions">
        @*<p>Id:</p>*@
        <p>Temperature:</p>
        <p>Relative humidity:</p>
    </div>
    @await Html.PartialAsync("_SensorData", Model)
    <p></p>

</div>

<h2>LEDs</h2>
<hr />


<div class="_container">
    <div class="buttons_commands">

        <div class="commandButton">
            <p class="color-component-w">White LED</p>
            Status:<button id="btn_w">@Html.DisplayFor(model => model.Status1)</button>
        </div>

        <div class="commandButton">
            <p class="color-component-y">Yellow LED</p>
            Status:<button id="btn_y">@Html.DisplayFor(model => model.Status2)</button>
        </div>

        <div class="commandButton">
            <p class="color-component-r">Red LED</p>
            Status:<button id="btn_r">@Html.DisplayFor(model => model.Status3)</button>
        </div>

        <div class="commandButton">
            <p class="color-component-g">Green LED</p>
            Status:<button id="btn_g">@Html.DisplayFor(model => model.Status4)</button>
        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/refreshData.js"></script>
<script src="~/js/commands.js"></script>

