@model LordOfLittleComponents.Models.EnvironmentDataViewModel

@{
    ViewData["Title"] = "Home Page";
}


<h1>Vamo vê aí qual que eras desse Arduino então</h1>
<hr />


<div class="environment_conditions_container">

    <div class="environment_conditions">
        <p>Id:</p>
        <p>Temperatura:</p>
        <p>Umidade relativa do ar:</p>
        <p>Umidade relativa do solo:</p>
    </div>

    @await Html.PartialAsync("_SensorData", Model)

   
    <p></p>

</div>
<hr />
<div class="_container">

    
    <div class="buttons_commands">

        <div class="commandButton">
            <p class="color-component-w">LED Branco</p>
            Status:<button id="btn_w">@Html.DisplayFor(model => model.Status1)</button>
        </div>

        <div class="commandButton">
            <p class="color-component-y">LED Amarelo</p>
            Status:<button id="btn_y">@Html.DisplayFor(model => model.Status2)</button>
        </div>

        <div class="commandButton">
            <p class="color-component-r">LED Vermelho</p>
            Status:<button id="btn_r">@Html.DisplayFor(model => model.Status3)</button>
        </div>

        <div class="commandButton">
            <p class="color-component-g">LED Verde</p>
            Status:<button id="btn_g">@Html.DisplayFor(model => model.Status4)</button>
        </div>

    </div>
    

    @*<p>White Led</p>
        <form asp-action="Send_turnOn">
            <button type="submit" class="turnedOn">Turn on</button>
        </form>
        <form asp-action="Send_turnOff">
            <button type="submit" class="turnedOff">Turn off</button>
        </form>*@
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/refreshData.js"></script>
<script src="~/js/commands.js"></script>

